@import url('https://fonts.googleapis.com/css?family=Orbitron:900');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Sidebar Navigation */
.sidebar {
    background: rgba(255, 255, 255, 1); /* rgba(185, 178, 178) */
    width: 500px;
    height: 100%;
    display: block;
    position: absolute;
    top: 0px;
    left: -500px;
    transition: left 0.3s linear;
    z-index: 100;
}

.sidebar.visible {
    left: 0px;
    transition: left 0.3s linear;
}

.sidebar .profile {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    text-align: center;
    padding: 12px 0px 10px 0px;
    border-bottom: 1px solid #8D929B;
}

#profile-pic img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.sidebar ul {
    margin: 0px;
    padding: 0px;
}

.sidebar ul li {
    list-style: none;
}

#logout-btn {
    position: absolute;
    bottom: 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #000 !important;
    font-size: 25px;
    border-bottom: 1px solid #8D929B;
    display: block;
    width: 480px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.sidebar ul li a:hover {
    color: #5d7caf;
}

.sidebar-btn {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 15px;
    cursor: pointer;
    margin: 10px 20px 20px 20px;
    position: absolute;
    top: 0px;
    right: -70px;
    padding: 10px;
    border-radius: 50%;
}

.sidebar-btn .btn {
    height: 2px;
    border-radius: 20%;
    background: rgba(97, 83, 83, 0.9);
    margin-bottom: 5px;
    display: block;
}

/* ------------------------------------- PROFILE PAGE ------------------------------------- */
#profile-page {
    overflow: hidden;
}

.profile-header {
    padding: 40px 0 20px 0;
}

.profile-nav {
    padding: 10px 0px 10px 0px;
}

.profile-home-btn {
    font-size: 15px;
    margin-left: 30px;
    color: rgba(97, 83, 83, 0.9) !important;
    text-decoration: none;
}

.profile-browse-btn {
    font-size: 15px;
    color: rgba(97, 83, 83, 0.9) !important;
    text-decoration: none;
    float: right;
    margin-right: 20px;
}

#profile-header-pic img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.profile-about {
    text-align: center;
    line-height: 8px;
    color: #707275;
}

.profile-info-container {
    width: 95%;
    margin: auto;
}

.profile-info-container h5{
    margin-left: 10px;
}

/* ------------------------------------- LOGIN PAGE ------------------------------------- */
.login-container {
    width: 350px;
    height: 500px;
    margin: auto;
    padding-top: 30px;
    margin-top: 20px;
}

.brand-logo {
    width: 90%;
    margin: auto;
    height: 100px;
}

.brand-logo h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Orbitron', sans-serif;    
}

.login-input {
    margin-top: 30px;
    padding: 50px 15px 0px 15px;
    border: 1px solid #c0c5ce;
    box-shadow: 2px 2px 5px #c3c7cc;
}

.login-btn {
    margin: 20px 0px 50px 0px;
}

/* ------------------------------------- LANDING PAGE ------------------------------------- */
#landing-page {
    background: url("https://images.pexels.com/photos/349609/pexels-photo-349609.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Welcome Container */
.welcome-container {
    width: 500px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;
}

.landing-pic-container {
    padding-top: 40px;
}

#landing-pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.welcome-container h1 {
    text-align: center;
    color: #fff;
    font-size: 40px;
}

.welcome-container h3 {
    text-align: center;
    margin-top: 100px;
    padding: 30px;
}

.welcome-container h3 a {
    color: #fff !important;
    text-decoration: none;
}

/* ------------------------------------- BROWSING PAGE ------------------------------------- */
/* Browsing page navigation */
#browse-recipes {
    background: url("https://images.pexels.com/photos/349609/pexels-photo-349609.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.browsing-header {
    width: 100%;
    height: 80px;
}

.back-btn {
    font-size: 60px;
    margin-left: 30px;
    color: rgba(97, 83, 83, 0.9) !important;
}

.browsing-header h1 {
    text-align: center;
    padding-top: 40px;
    font-size: 50px;
}

/* Search bar 
.search-bar {
    width: 68%;
    margin: auto;
    padding-top: 70px;
} */

/* Recommended recipes popup (http://demos.jquerymobile.com/1.4.4/button-markup/)*/
.recommended-btn {
    margin: 0 auto !important;
    width: 50%;
    padding-top: 80px;
}

.recommended-items {
    width: 750px;
    height: 500px;
    margin: auto;
}

.recommended-items a {
    text-decoration: none;
}

.recommended-items-inner {
    width: 100%;
    height: 100%;
}

.recommended-items-inner a img {
    width: 45%;
    height: 45%;
    display: inline-block;
    margin-top: 15px;
    margin-left: 23px;
}

.or-text {
    text-align: center;
    padding: 50px 0 50px 0;
}

/* Health Risk Dropdown Selection menu */
.health-risk-container {
    width: 50%;
    margin: auto;
}

/* ------------------------------------- RECOMMENDED RECIPES PAGE ------------------------------------- */
/* Recommended Recipes  */
/* Instructions navigation */
#recommended-recipe-one {
    overflow: hidden;
}

#recommended-recipe-two {
    overflow: hidden;
}

#recommended-recipe-three {
    overflow: hidden;
}

#recommended-recipe-four {
    overflow: hidden;
}

.instructions-header {
    width: 100%;
    height: 80px;
    border-bottom: 2px solid #000;
    min-width: 600px;
}

.close-btn {
    font-size: 50px;
    margin-left: 30px;
    color: rgba(97, 83, 83, 0.9) !important;
}

.close-btn i {
    padding-top: 15px;
}

.instructions-title {
    text-align: center;
    margin-top: -55px;
    font-size: 40px;
}

/* Recipe Title Section */
.recipes-title {
    border: 1px solid #000;
    width: 900px;
    position: relative;
    margin: auto;
    top: 30px;
}

.recipes-title h1, h5 {
    display: inline-block;
}

.recipes-title h1 {
    margin-left: 360px;
}

.recipes-title h5 {
    float: right;
}

/* Nutrition Facts Section */
.nutri-facts {
    border: 1px solid #000;
    width: 900px;
    position: relative;
    margin: auto;
    top: 60px;
    height: 150px;
}

.nutri-facts h3 {
    padding-left: 20px;
}

/* Ingredients Section */
.ingredients-section {
    border: 1px solid #000;
    width: 900px;
    position: relative;
    margin: auto;
    top: 90px;
    height: 200px;
}

.ingredients-section h3 {
    padding-left: 30px;
}

/* Cooking Instructions Section */
.cooking-section {
    border: 1px solid #000;
    width: 900px;
    position: relative;
    margin: auto;
    top: 120px;
    height: 500px;
}

.cooking-section h3 {
    padding-left: 30px;
}

/* ------------------------------------- HEALTH RISK PAGE ------------------------------------- */
.health-risk-title h1{
    text-align: center;
    margin-top: -30px;
}

.health-risk-recipes {
    width: 90%;
    margin: auto;
}

.health-risk-recipes a img{
    width: 250px;
    height: 250px;
    margin-left: 28px;
    margin-top: 50px;
}


/* ------------------------------------- MEDIA QUERIES ------------------------------------- */
/* Mobile Responsive */
@media (max-width: 480px) {
    /* Login Page */
    .login-container {
        width: 90%;
    }

    /* Browsing Page */
    .browsing-header h1 {
        font-size: 35px;
    }

    .recommended-btn {
        width: 90%;
    }

    .health-risk-container {
        width: 90%;
    }

    /* Instructions Page */
    .instructions-title {
        text-align: center;
        margin-top: -40px;
        font-size: 35px;
        margin-left: -200px;
    }
}

@media (max-width: 560px) {
    /* Sidebar Navigation */
    .sidebar {
        width: 80%;
        left: -80%;
    }

    .sidebar ul li a {
        width: auto;
    }

    /* Welcome Section */
    .welcome-container {
        width: 95%;
        height: auto;
    }

    .welcome-container h1 {
        font-size: 35px;
    }

    .welcome-container h3 {
        padding-bottom: 80px;
    }
}

@media (max-width: 800px) {
    /* Profile Page */
    .profile-home-btn {
        font-size: 10px;
        margin-left: 20px;
        color: rgba(97, 83, 83, 0.9) !important;
        text-decoration: none;
    }
    
    .profile-browse-btn {
        font-size: 10px;
        color: rgba(97, 83, 83, 0.9) !important;
        text-decoration: none;
        float: right;
        margin-right: 15px;
        margin-top: 5px;
    }

    /* Recommended Recipes Section */
    .recommended-items {
        width: 100%;
        height: 470px;
        margin-top: 10px;
    }

    .recommended-items-inner {
        overflow: scroll;
    }
    
    .recommended-items-inner a img {
        display: block;
        margin: auto;
        width: 300px;
        height: 200px;
        margin-top: 15px;
        padding-bottom: 20px;
    }
}

@media (max-width: 920px) {
    /* Instructions Page */
    .instructions-header {
        width: 100%;
        height: 80px;
        border-bottom: 2px solid #000;
        min-width: 600px;
    }

    .close-btn-container {
        margin-top: 100px;
    }
    
    .close-btn {
        font-size: 30px;
        margin-left: 20px;
        color: rgba(97, 83, 83, 0.9) !important;
    }

    .close-btn i {
        padding-top: 25px;
    }
    
    .instructions-title {
        text-align: center;
        margin-top: -40px;
        font-size: 35px;
    }
    
    /* Recipe Title Section */
    .recipes-title {
        border: 1px solid #000;
        width: 900px;
        position: relative;
        margin: auto;
        top: 30px;
    }
    
    .recipes-title h1, h5 {
        display: inline-block;
    }
    
    .recipes-title h1 {
        margin-left: 360px;
    }
    
    .recipes-title h5 {
        float: right;
    }
    
    /* Nutrition Facts Section */
    .nutri-facts {
        border: 1px solid #000;
        width: 900px;
        position: relative;
        margin: auto;
        top: 60px;
        height: 150px;
    }
    
    .nutri-facts h3 {
        padding-left: 20px;
    }
    
    /* Ingredients Section */
    .ingredients-section {
        border: 1px solid #000;
        width: 900px;
        position: relative;
        margin: auto;
        top: 90px;
        height: 200px;
    }
    
    .ingredients-section h3 {
        padding-left: 30px;
    }
    
    /* Cooking Instructions Section */
    .cooking-section {
        border: 1px solid #000;
        width: 900px;
        position: relative;
        margin: auto;
        top: 120px;
        height: 500px;
    }
    
    .cooking-section h3 {
        padding-left: 30px;
    }
}